

<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LjudBöcker</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link rel="stylesheet" href="./css/Ljudbocker.css"> <!-- Specifik CSS för denna sida -->
</head>

<body>
@RenderBody()
<script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>


<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Min Bokhandel</title>
    <link rel="stylesheet" href="./css/ForfattarenSida.css"> <!-- Specifik CSS för denna sida -->
</head>

<body>
@RenderBody()
<script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>


<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/Login.css"> <!-- Specifik CSS för denna sida -->
</head>

<body>
@RenderBody()
<script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>

