<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>LjudBöcker</title>
    <link rel="stylesheet" href="ljudbok.css">
    <link rel="stylesheet" href="~/css/ljudbok.css">


    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>
<body>
<h1 id="title">LjudBöcker</h1>

<div class="set">
    <div class="book">
        <img src="../images/ditord.jpg" alt="Mästaren och Margarita">
        <button class="drum">Mästaren och Margarita</button>
    </div>
    <div class="book">
        <img src="../images/livet efter.jpeg" alt="Sagan om Ringen">
        <button class="drum">Sagan om Ringen</button>
    </div>
    <div class="book">
        <img src="../images/tankpos.jpg" alt="Hundra år av ensamhet">
        <button class="drum">Hundra år av ensamhet</button>
    </div>
    <div class="book">
        <img src="../images/cover.jpg" alt="To Kill a Mockingbird">
        <button class="drum">To Kill a Mockingbird</button>
    </div>
    <div class="book">
        <img src="../images/cover.jpg" alt="Hur mår fröken Furukura">

        <img src="https://example.com/1984.jpg" alt="1984">
        <button class="drum">1984</button>
    </div>
    <div class="book">
        <img src="https://example.com/stolthet-fordom.jpg" alt="Stolthet och fördom">
        <button class="drum">Stolthet och fördom</button>
    </div>
    <div class="book">
        <img src="https://example.com/den-store-gatsby.jpg" alt="Den store Gatsby">
        <button class="drum">Den store Gatsby</button>
    </div>
</div>

<footer>
    Made with ❤️ in Gothenburg.
</footer>

<script src="/js/ljudbok.js" charset="utf-8"></script>
</body>
</html>