<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page - TinBooks</title>
    <link rel="stylesheet" href="./css/Admin.css">
</head>
<body>
<header>
    <h1>Välkommen till TinBooks Admin</h1>
    <p>Din säkerhet, vårt ansvar</p>


   
</header>
    
<main>
    <section class="intro-section">
        <h2>Historien om Böcker</h2>
        <p>
            Böcker har alltid varit en källa till kunskap, inspiration och flykt från verkligheten. Varje bok bär på en egen berättelse, en resa som väntar på att bli upptäckt. Genom att sälja och köpa böcker för vi vidare dessa berättelser till nya generationer.
        </p>
    </section>

    <section class="call-to-action">
        <h2>Förtrollande Berättelser</h2>
        <p>
            På TinBooks hittar du böcker som väcker fantasin och tar dig med på otroliga äventyr. Utforska världar, fördjupa dig i historia, och låt orden skapa magi i ditt liv.
        </p>
        <a href="#" class="cta-button">Utforska våra böcker</a>

       

    </section>

    <section class="features-section">
        <h2>Funktioner</h2>
        <ul>
            <li>Hantera böcker och författare med lätthet</li>
            <li>Uppdatera och analysera användarinformation</li>
            <li>Se historiska data och statistik</li>
        </ul>

        <form asp-action="SignOutUser" method="post">
            <a href="#" class="cta-button"> <button type="submit" class="logout-button">Logga ut</button></a>
        </form>

    </section>
</main>


<footer>
    <p>© 2024 TinBooks. All Rights Reserved.</p>
</footer>
</body>
</html>